@-webkit-keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
}
.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
}

.wrap {
  background-image: linear-gradient(180deg, #756B65 0%, #CAB8A9 100%);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.logo img {
  max-width: 50px;
  max-height: 50px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.logo {
  display: flex;
  position: absolute;
  left: 30px;
  top: 10px;
  align-items: center;
}

.logo p {
  padding: 20px;
  color: #fff;
  font-size: 1em;
}

.nav {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 5% auto 5%;
  height: 80px;
  background-color: #95877e;
  border-radius: 60px;
  position: relative;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

.nav a ~ a {
  margin-left: 15px;
  padding-left: 15px;
}

.nav a ~ a {
  content: "";
  border-left: 1px solid #fff;
}

.exit {
  align-items: flex-end;
  right: 40px;
  position: absolute;
}

.edit {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: auto;
}

.container {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.intro {
  font-size: 50px;
  font-weight: 400;
  margin-top: 10vh;
}

.intro_sub {
  font-size: 20px;
}

.intro, .intro_sub {
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 75%;
  color: #fff;
}

.getbar {
  background-color: #DAD8D9;
  display: flex;
  text-decoration: none;
  border-radius: 30px;
  align-self: flex-start;
  color: #575B5F;
}

.main-btn {
  display: flex;
  padding: 0 2rem;
  align-items: center;
  font-weight: 1000;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.7rem;
  color: #FFF5EE;
  margin: 0.3rem;
  background-color: #5B493B;
}

.level1 {
  display: flex;
  height: 60vh;
  overflow: hidden;
  width: 28.1%;
  flex-direction: column;
  right: 0;
  background-color: #DAD8D9;
  position: relative;
  border-radius: 50px;
}

.level2 {
  background-color: #B1AAAA;
  height: 66.66666%;
  width: 100%;
  padding: 10% 15% 0 15%;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  display: flex;
  z-index: 2;
  border-radius: 50px 50px 0 0;
}

.lv2 {
  color: #403B3C;
}

.lv3 {
  color: #9E9A99;
}

.level3 {
  background-color: #5F5654;
  height: 33.3333%;
  display: flex;
  bottom: 0;
  width: 100%;
  position: absolute;
  z-index: 3;
  padding: 10% 15% 0 15%;
  border-radius: 50px 50px 0 0;
}

.test {
  padding: 20% 15% 0 15%;
}

.people {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.lv1_title {
  display: flex;
  font-size: 2rem;
}

.lv1_content {
  font-size: 1.3rem;
}

.lv1_title, .lv1_content {
  color: #514135;
  font-weight: 800px;
}/*# sourceMappingURL=style.css.map */