body{
    background: rgb(69, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background: #000000d0;
    padding: 1em;
    color: #fff;
}